web/Schemas/common/view.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:inheritance="http://www.bssys.com.MBSClient.XMLInheritance.html">
	<xs:include schemaLocation="MBCTypes.xsd"/>
	<xs:import namespace="http://www.bssys.com.MBSClient.XMLInheritance.html" schemaLocation="MBCInheritance.xsd"/>
	<xs:complexType name="view">
		<xs:annotation>
			<xs:documentation>Описание визуального представления формы. Состоит из отдельных строк. Каждая строка - это либо один виджет (элемент widget) или группа виджетов в одной строке (элемент group). 
			                              Кроме того несколько строк могут объединяться в единый вертикальный блок с возможностью сворачивания/разворачивания (элемент vgroup).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="widget"/>
				<xs:element ref="group"/>
				<xs:element ref="vgroup"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="onCreate" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Задает обработчик события onCreate формы. Срабатыевает при создании формы.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="inheritance:inheritance_list"/>
	</xs:complexType>
	<xs:element name="group">
		<xs:annotation>
			<xs:documentation>Группа виджетов, расположенных в одной строке.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="widget" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="groupWidgetAttributes"/>
			<xs:attributeGroup ref="inheritance:inheritance_list"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="vgroup">
		<xs:annotation>
			<xs:documentation>Группа строк формы с возможностью сворачивания/разворачивания.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="widget"/>
					<xs:element ref="group"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="vgroupWidgetAttributes"/>
			<xs:attributeGroup ref="inheritance:inheritance_list"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="widget">
		<xs:annotation>
			<xs:documentation>Один виджет визуальной формы. Тип виджета определяется его атрибутом "type". </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="widget"/>
					<xs:element ref="group"/>
					<xs:element ref="fills"/>
					<xs:element ref="values"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" use="optional" default="string">
				<xs:annotation>
					<xs:documentation>Тип виджета. Определяет визуальный элемент, который реализует данный виджет.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
						<xs:enumeration value="editText"/>
						<xs:enumeration value="button"/>
						<xs:enumeration value="label"/>
						<xs:enumeration value="dictionarySelect"/>
						<xs:enumeration value="listSelect"/>
						<xs:enumeration value="dateSelect"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="allWidgetAttributes"/>
			<xs:attributeGroup ref="inheritance:inheritance"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="baseFormElementAttributes">
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор элемента формы. Должен быть уникален в пределах всей формы.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Текстовая метка, расположенная слева от элементов группы. Обычно задается локализованным ресурсом.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visible" type="bool" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Видимость элемента.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" type="bool" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Признак разрешен/запрещен.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="style" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Название стиля для отображения.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="background" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Цвет подложки.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="baseWidgetAttributes">
		<xs:attributeGroup ref="baseFormElementAttributes"/>
		<xs:attribute name="weight" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Вес виджета. Используется, если виджет расположем вместе с другими виджетами в составе группы. 
				Задает относительное пространство под этот виджет по сравнению с остальными виджетами.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="baseFieldWidgetAttributes">
		<xs:attributeGroup ref="baseWidgetAttributes"/>
		<xs:attribute name="fieldName" type="xs:string">
			<xs:annotation>
				<xs:documentation>Имя поля документа с которым связан виджет.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" use="optional" default="string">
			<xs:annotation>
				<xs:documentation>Формат отображения данных в поле. Доступны значения: string,digits,amount,account,status,date,datetime,datetimems,CharsDigitsNoSpace,CurrCodeISO,DocType.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="string"/>
					<xs:enumeration value="digits"/>
					<xs:enumeration value="amount"/>
					<xs:enumeration value="account"/>
					<xs:enumeration value="status"/>
					<xs:enumeration value="date"/>
					<xs:enumeration value="datetime"/>
					<xs:enumeration value="datetimems"/>
					<xs:enumeration value="CharsDigitsNoSpace"/>
					<xs:enumeration value="CharsDigitsNoSpace"/>
					<xs:enumeration value="CurrCodeISO"/>
					<xs:enumeration value="DocType"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Начальное значение поля.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="size" type="xs:integer" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Максимальная длина значения в символах. 0 - без ограничений.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lines" type="xs:integer" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Количество строк ввода (многострочный ввод).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="editable" type="bool" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Разрешено ли редактирование поля.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="groupWidgetAttributes">
		<xs:attributeGroup ref="baseWidgetAttributes"/>
		<xs:attribute name="labelsVisible" type="bool" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Видимость меток для виджетов внутри группы.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="vgroupWidgetAttributes">
		<xs:attributeGroup ref="baseWidgetAttributes"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="dataSelectWidgetAttributes">
		<xs:attributeGroup ref="baseFieldWidgetAttributes"/>
		<xs:attribute name="data" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Список допустимых значений. Массив строк в формате JSON.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dictionary" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Имя справочника для выбора значений.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lookupFieldName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Имя поля справочника, значение которого будет подставляться в поле, связанное с виджетом.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="allWidgetAttributes">
		<xs:attributeGroup ref="dataSelectWidgetAttributes"/>
	</xs:attributeGroup>
	<xs:element name="fills">
		<xs:annotation>
			<xs:documentation>Правила заполнения полей формы при осуществлении выбора из справочника. Только для виджетов типа dictionarySelect или listSelect.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fill"/>
			</xs:sequence>
			<xs:attributeGroup ref="inheritance:inheritance_list"/>
		</xs:complexType>
		<xs:unique name="fillsUniqueRule">
			<xs:selector xpath=".//fill"/>
			<xs:field xpath="@fieldName"/>
		</xs:unique>
	</xs:element>
	<xs:element name="fill">
		<xs:annotation>
			<xs:documentation>Правило заполнения одного поля при выборе из справочника или списка.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="fieldName" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Имя заполняемого поля</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Значение, которое присваивается в поле. Допускаются вычисляемые выражения. При выборе из справочника можно использовать поля из записи справочника используя префикс dictionary. Например: value="#dictionary.Description"</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="inheritance:inheritance"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="values">
		<xs:annotation>
			<xs:documentation>Список значений для выбора. Используется только для виджета типа listSelect.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attributeGroup ref="inheritance:inheritance_list"/>
		</xs:complexType>
		<xs:unique name="valuesUniqueRule">
			<xs:selector xpath=".//value"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	<xs:element name="value">
		<xs:annotation>
			<xs:documentation>Одно значение в списке для выбора</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="fills"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Значение, отображаемое в списке и подставляемое в поле с которым связан widget.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор значения. Нужен только для правильной работы наследования. Больше нигде не используется.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="inheritance:inheritance"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
